<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Personal Tech Blog by Andrew Zuniga</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    .nav-wrapper {
      background-color: #26a69a;
    }
  </style>
</head>

<body style="background-color:#ffcdd2">
  <div class="container">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Tech Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/dashboard">Dashboard</a>
          </li>
          <li>
            {{#if loggedIn}}
            <button id="logout" class="waves-effect waves-red lighten-2 btn-flat">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
          </li>
        </ul>
      </div>
    </nav>

    <main>
      {{{ body }}}
    </main>
    <footer class="center-align">
      &#169; 2021 Tech Blog
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>