<link rel="stylesheet" href="/stylesheets/login.css">
<section class="header-content">
  <h1>Hello, Investor! </h1>
  <div class="login">
    <form class="login-form" id="login">
      <h3>Log In</h3>
      <div>
        <label for="username-signup">Username:</label>
        <br>
        <input type="text" id="username-login" />
      </div>
      <div>
        <label for="password-login">Password:</label>
        <br>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button type="submit" name="action">Log In</button>
      </div>
    </form>
    <br>
    <h3>Sign Up</h4>
    <form class="signup-form">
      <div>
        <label for="username-signup">Username:</label>
        <br>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <br>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit" name="action">Sign Up</button>
      </div>
    </form>
  </div>

  <script src="/javascript/login.js"></script>
</section>