<form class="login-form">
  <h3>Login</h3>
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button class="btn waves-effect waves-light" type="submit" name="action">login</button>
  </div>
</form>
<h4>Sign up! </h4>
<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button class="btn waves-effect waves-light" type="submit" name="action">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>