{{> post-info post}}

{{#if loggedIn}}
<br/>
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <br/>
  <div>
    <button class="btn waves-effect waves-light" type="submit">add comment</button>
  </div>
</form>
<h4>Comments:</h4>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}